server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/smart_delivery
    username: postgres
    password: Jppp5734
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 5000
      repositories:
        enabled: false

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs
jwt:
  secret: VGhpcyBpcyBhIHNlY3JldCBrZXkgZm9yIEpXVCAoYXQgbGVhc3QgMzIgY2hhcmFjdGVycyk
  refreshExpiration: 604800000
  expiration: 86400000